<!DOCTYPE html>
<html ng-app="teste">
<head>
    <meta charset="utf-8">

    <title>Pesquisa de Veículos</title>

    <!-- DECLARAÇÃO jQuery 2.2.3 -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

    <!--DECLARAÇÃO DO BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--DECLARAÇÃO DO ANGULAR JS-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

    <!-- DECLARAÇÃO DO PLUGIN DA DIRETIVA DE MASCARAR DATA MaskEdit -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <!-- DECLARAÇÃO DO MEU TEMA -->
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- DECLARAÇÃO DO CONTROLLER-->
    <script src="js/controller/veiculosController.js"></script>

    <!-- DECLARAÇÃO DA DIRETIVA DE MASCARAR DATA-->
    <script src="js/directive/maskDataDirective.js"></script>

    <!-- DECLARAÇÃO DO UI-BOOTSTRAP NECESSÁRIO PARA A PAGINAÇÃO-->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

</head>
<body ng-controller="veiculosController">
    <div class="col-md-10 col-md-offset-1">
        <br>
        <!------------------------------------------------------------------------->
        <!--                       FORMULARIO DE CONSULTA                        -->
        <!------------------------------------------------------------------------->
        <div class="panel panel-primary">
            <div class="panel-heading col-md-12">
                <div class="col-md-6">Consulta</div>

                <!--Seleção da paginação-->
                <div class="form-inline pull-right">
                    <div class="form-group">
                        <label for="selectListagem">Listagem</label> <select
                            class="form-control" ng-model="viewby"
                            ng-options="itemListagem for itemListagem in listagem"
                            ng-change="setItemsPerPage(viewby)">
                        </select>
                    </div>
                </div>
            </div>

            <div class="panel-body" style="display:block">
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <!--Titulo Tabela---------------------->
                            <tr>
                                <th style="width: 200px;">
                                    <a href="" ng-click="ordenarConsulta('nome')">Carro   </a>
                                    <span ng-show="campoOrdenacaoConsulta == 'nome' && direcaoOrdenacaoConsulta" class="fa fa-caret-down"></span>
                                    <span ng-show="campoOrdenacaoConsulta == 'nome' && !direcaoOrdenacaoConsulta" class="fa fa-caret-up"></span>
                                </th>
                                <th style="width: 120px;">
                                    <a href="" ng-click="ordenarConsulta('dataCompra')">Data Compra   </a>
                                    <span ng-show="campoOrdenacaoConsulta == 'dataCompra' && direcaoOrdenacaoConsulta" class="fa fa-caret-down"></span>
                                    <span ng-show="campoOrdenacaoConsulta == 'dataCompra' && !direcaoOrdenacaoConsulta" class="fa fa-caret-up"></span>
                                </th>
                                <th style="width: 100px;">
                                    <a href="" ng-click="ordenarConsulta('cor.nome')">Cor   </a>
                                    <span ng-show="campoOrdenacaoConsulta == 'cor.nome' && direcaoOrdenacaoConsulta" class="fa fa-caret-down"></span>
                                    <span ng-show="campoOrdenacaoConsulta == 'cor.nome' && !direcaoOrdenacaoConsulta" class="fa fa-caret-up"></span>
                                </th>
                                <th style="width: 150px;">
                                    <a href="" ng-click="ordenarConsulta('marca')">Marca   </a>
                                    <span ng-show="campoOrdenacaoConsulta == 'marca' && direcaoOrdenacaoConsulta" class="fa fa-caret-down"></span>
                                    <span ng-show="campoOrdenacaoConsulta == 'marca' && !direcaoOrdenacaoConsulta" class="fa fa-caret-up"></span>
                                </th>
                            </tr>
                            <!--Filtro Tabela----------------------->
                            <tr>
                                <th>
                                    <input type="text" placeholder="Filtro" class="col-md-12" ng-model="carroFiltroConsulta">
                                </th>
                                <th>
                                    <input id="editDataCompraFiltroConsulta" type="text" placeholder="Filtro" class="col-md-12" ng-model="dataCompraFiltroConsulta">
                                </th>
                                <th>
                                    <input type="text" placeholder="Filtro" class="col-md-12" ng-model="corFiltroConsulta">
                                </th>
                                <th>
                                    <input type="text" placeholder="Filtro" class="col-md-12" ng-model="marcaFiltroConsulta">
                                </th>
                            </tr>
                        </thead>

                        {{dataCompraFiltroConsulta}}
                        <!--Tabela-------------------------------->
                        <tbody>
                            <tr ng-class="{selecionado: veiculoRow.selecionado}" ng-repeat="veiculoRow in veiculos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) |
                                filter:{carro: carroFiltroConsulta} |
                                filter:{dataCompra: dataCompraFiltroConsulta} |
                                filter:{cor: {nome: corFiltroConsulta}} |
                                filter:{marca: marcaFiltroConsulta} |
                                orderBy:campoOrdenacaoConsulta:direcaoOrdenacaoConsulta">
                                <td>{{veiculoRow.carro}}</td>
                                <td>{{veiculoRow.dataCompra | date:"dd/MM/yyyy"}}</td>
                                <td>{{veiculoRow.cor.nome}}</td>
                                <td>{{veiculoRow.marca}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--------------------------------------------------------->
                    <!--             PAGINAÇÃO                               -->
                    <!--------------------------------------------------------->
                    <div class="row">
                        <div class="col-md-2">
                            <br> <strong>Página: {{currentPage}} / {{numPages}}</strong>
                        </div>

                        <div class="col-md-8 text-center">
                            <pagination total-items="totalItems" ng-model="currentPage"
                                max-size="maxSize" class="pagination-sm" boundary-links="true"
                                num-pages="numPages" items-per-page="itemsPerPage"
                                first-text="<<" previous-text="<" next-text=">" last-text=">>">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Consulta-->
    </div>
</body>
</html>
